<section class="py-5">
  <div class="container">
    <h1 class="text-capitalize text-center mb-4">admin dashboard</h1>
    <table class="w-100 text-capitalize">
      <thead>
        <tr class="bg-warning border border-1">
          <th class="p-2">data tables</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-2 border border-top-0 d-flex justify-content-between">
            <a class="d-flex justify-content-center flex-column" href="/admin/categories">categories</a>
            <a href="#" class="d-flex text-dark bg-warning rounded-pill p-1 px-3">
              <span>add</span>
              <span class="material-icons">add</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="p-2 border border-top-0 d-flex justify-content-between">
            <a class="d-flex justify-content-center flex-column" href="#">articles</a>
            <a href="#" class="d-flex text-dark bg-warning rounded-pill p-1 px-3">
              <span>add</span>
              <span class="material-icons">add</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="p-2 border border-top-0 d-flex justify-content-between">
            <a class="d-flex justify-content-center flex-column" href="#">users</a>
            <a href="#" class="d-flex text-dark bg-warning rounded-pill p-1 px-3">
              <span>add</span>
              <span class="material-icons">add</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
