<footer class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="text-uppercase text-center text-warning mb-3">noticias</h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-12 col-md-3">
        <ul class="links">
          <h2 class="text-capitalize text-warning mb-3">useful links</h2>
          <li class="mb-3">
            <a class="text-light" href="/">home</a>
          </li>
          <li class="mb-3">
            <a class="text-light" href="/articles">articles</a>
          </li>
          <li class="mb-3">
            <a class="text-light" href="/">latest</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <h2 class="text-capitalize text-warning mb-3">follow us</h2>
          <li class="mb-3">
            <a class="text-light" href="https://github.com/emadElnagar" target="_blank">github</a>
          </li>
          <li class="mb-3">
            <a class="text-light" href="https://www.linkedin.com/in/emad-elnagar-23456022b/" target="_blank">linkedin</a>
          </li>
          <li class="mb-3">
            <a class="text-light" href="https://www.facebook.com/profile.php?id=100008372922486" target="_blank">facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
