{{#if user.isAdmin}}
  <section class="py-5 bg-light">
    <div class="container">
      <p class="d-flex">
        <span class="material-icons">lock</span>
        this section is private for admins
      </p>
      <div class="d-flex justify-content-between">
        <a href="/articles/new" class="btn btn-warning px-4 d-flex">
          <span class="material-icons me-2">add</span>
          create new article
        </a>
        <a href="/articles/create-category" class="btn btn-info px-4 d-flex">
          <span class="material-icons me-2">add</span>
          create new category
        </a>
      </div>
    </div>
  </section>
{{/if}}

<section class="py-5">
  <div class="container">
    <div class="row">
      {{#each articles}}
        {{#each this}}
          {{#if this.image}}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <a class="text-light" href="/articles/{{this.slug}}">
                <div class="card shadow position-relative">
                  <img
                    src="{{this.image}}"
                    class="card-img-top" 
                    alt="oops! it's problem showing your photo"
                  >
                  <span class="position-absolute top-0 left-0 m-4 px-3 badge rounded-pill bg-warning text-dark">{{this.category}}</span>
                  <div class="card-body position-absolute w-100 h-100 bg-transparent d-flex flex-column justify-content-end align-items-center">
                    <h2 class="text-capitalize">{{this.title}}</h2>
                  </div>
                </div>
              </a>
            </div>
          {{/if}}
        {{/each}}
      {{/each}}
    </div>
  </div>
</section>
