<section class="py-5">
  <div class="container">
    <form class="shadow mx-auto px-4 py-5 w-100" method="post">
      <h1 class="text-center text-capitalize">create new category</h1>
      <div class="field d-flex flex-column-reverse mt-2">
        <input type="text" name="title" class="w-100" required>
        <label for="title">title</label>
      </div>
      <input type="submit" class="btn btn-warning mt-3">
    </form>
  </div>
</section>
