<section class="py-5">
  <div class="container">
    <form class="shadow mx-auto px-4 py-5 w-100" method="post" enctype="multipart/form-data">
      <h1 class="text-center text-capitalize">create new article</h1>
      
      <div class="field d-flex flex-column-reverse mt-2">
        <input id="title" type="text" name="title" class="w-100" required>
        <label for="title">title</label>
      </div>
      
      <div class="field d-flex flex-column-reverse mt-2">
        <textarea id="subject" type="text" name="subject" class="w-100" required></textarea>
        <label for="subject">subject</label>
      </div>
      
      <div class="d-flex flex-column-reverse mt-2">
        <div class="button-wrap">
          <input id="image" name="image" type="file" required>
          <label class="material-icons btn btn-dark px-4 fs-4" for="image">local_see</label>
        </div>
      </div>

      <div class="d-flex flex-column-reverse mt-2">
        <select id="category" name="category">
          {{#each categories}}
            {{#each this}}
              {{#if this.title}}
                <option value="{{this.title}}">{{this.title}}</option>
              {{/if}}
            {{/each}}
          {{/each}}
        </select>
        <label for="category">category</label>
      </div>

      <input type="submit" class="btn btn-warning mt-3 text-capitalize" value="post">
    </form>
    {{#each messages}}
      <div class="d-flex justify-content-center">
        <div class="alert alert-danger text-center mt-3 form-alert" role="alert">
          {{this}}
        </div>
      </div>
    {{/each}}
    {{#if imageErrorMessage}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{imageErrorMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {{/if}}
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="" alt="it's problem showing you image" id="demo-image" class="img-fluid d-none">
    </div>
    <h1 id="demo-header" class="text-center text-capitalize py-3"></h1>
    <p id="demo-paragraph"></p>
  </div>
</section>

<script src="/javascripts/create_article.js"></script>
