body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

a, a:hover {
  color: #00B7FF;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

form.auth-form {
  max-width: 500px;
}

form textarea {
  height: 200px;
  resize: none;
}

form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

form textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

form textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.field input:required + label::after,
.field textarea:required + label::after {
  content: ' *';
}

.form-alert {
  width: 500px;
}

.not-found h1 {
  font-size: 10rem;
}

.not-found p {
  font-size: 3rem;
}

.not-found a {
  font-size: 1.2rem;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 8px;
  font-size: 17px;
}

input[type="file"],
input[type="file"]:focus {
  border-bottom: 0;
  opacity: 0;
}

.button-wrap {
  position: relative;
}

.navbar .auth-buttons .btn {
  width: 100px;
}

.navbar .navbar-nav li a:focus {
  background: none;
  color: #000;
}

.profile-img-form {
  height: 0;
  transition: 0.3s all ease;
}

.profile-img:hover .profile-img-form {
  border-top: 1px solid #aaa;
  height: 22%;
}

.active-form {
  border-top: 1px solid #aaa;
  height: 22%;
}

footer li a {
  transition: all .3s ease;
}
